body #welcome #welcome_left #Wallpaper_list {
}


    body #welcome #welcome_left #Wallpaper_list ul {
        border: 1px solid red;
        width: 100px;
        display: inline-block;
        float: left;
        margin:10px 10px 75px 10px;
    }


        body #welcome #welcome_left #Wallpaper_list ul li {
            border: 1px solid red;
            display: inline-block;
        }

            body #welcome #welcome_left #Wallpaper_list ul li img {
                width: 100px;
                height: 120px;
            }

            body #welcome #welcome_left #Wallpaper_list ul li img:hover {
                width: 100px;
                height: 120px;
                border:5px solid red;
            }

body #welcome #welcome_left #playercolumn {
    float: right;
    border: 1px solid red;
    margin:0px 20% 50px;
}

body #welcome #welcome_left #playercolumn ul {
   
    
}

    body #welcome #welcome_left #playercolumn ul li {
        border: 1px solid red;
        display: inline-block;
    }

        body #welcome #welcome_left #playercolumn ul li img {
            width: 75px;
        }


        .border_small{
            border:2px solid red;

        }

